body{
  margin: 0;
}

.container{
  position: relative;
}

.background-image{
  background-image: url("background-leaf.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  height: 100vh;
  width: 500px;
}

.border{
  position: relative;
  top: 180px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.15);
}

img{
  position:absolute;
  top: 200px;
  left: 80px;
  color: white;
  width: 100px;
  height: 100px;
}

.title{
  position:absolute;
  top: 170px;
  left: 215px;
  color: white;
  font-size: 55px;
  font-family:"Agbalumo", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form, label{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: bold;
}

form{
  position: absolute;
  top: 150px;
  left: 525px;
  max-width: 500px;
  gap: 12px;
}

.name, .contact, .user-password {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}

button{
  width: 120px;
  font-size: 12px;
  padding: 5px 10px; 
  background-color: #9a4e30;
  border-radius: 5px;
}